[Unit]
Description=A Web Log Generator Service From Web Server VM For Project
After=network.target

[Service]
ExecStart=<PATH>/generate_web_logs.sh
Restart=always
User=<User>
Group=<Group>
WorkingDirectory=<Working DIR>
StandardOutput=append:/var/log/web-log-generator.log
StandardError=append:/var/log/web-log-generator.log

[Install]
WantedBy=multi-user.target